@media screen and (min-width: 750px) {
	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 75px;
		background-color: #012a57;
		color: #fff;
	}

	.footer-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-left: 7.5%;
		margin-right: 7.5%;
	}
	.footer-wrap > div {
		line-height: 70px;
	}

	.main-color {
		color: #e1251b;
	}
	.footer-sns {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer-sns > i {
		display: inline-block;
		margin-right: 20px;
		color: #fff;
	}
	.min {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	.footer {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 175px;
		/* position: fixed; */
		background-color: #012a57;
		color: #fff;
	}

	.footer-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-left: 7.5%;
		margin-right: 7.5%;
	}
	.footer-wrap > div {
		line-height: 35px;
	}

	.main-color {
		color: #e1251b;
	}
	.footer-sns {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer-sns > i {
		display: inline-block;
		margin-right: 20px;
		color: #fff;
	}
	.max {
		display: none;
	}
}