@media screen and (min-width: 750px) {
  .footer {
    position: fixed;
    background-color:#012A57;
    color: #fff;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
  }
  
  .footer-wrap {
    margin-right: 7.5%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-wrap>div {
    line-height: 70px;
  }
  
  .main-color {
    color: #e1251b;
  }
  .footer-sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-sns>i {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
  }
  .min {
    display: none;
  }
}

@media screen and (max-width: 750px) {
    .footer {
      height: 175px;
      position: fixed;
      background-color:#012A57;
      color: #fff;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    
    .footer-wrap {
      margin-right: 7.5%;
      margin-left: 7.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .footer-wrap>div {
      line-height: 35px;
    }
    
    .main-color {
      color: #e1251b;
    }
    .footer-sns {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-sns>i {
      display: inline-block;
      margin-right: 20px;
      color: #fff;
    }
    .max {
      display: none;
    }
}